/** Created by TTF.in.ua **/
@font-face {
    font-family: 'Century-Gothic-Regular';
    src: url('Century-Gothic-Regular.eot');
    src: url('Century-Gothic-Regular.eot?#iefix') format('embedded-opentype'),
         url('Century-Gothic-Regular.woff') format('woff'),
         url('Century-Gothic-Regular.ttf') format('truetype'),
         url('Century-Gothic-Regular.svg#Century-Gothic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}